.score-board {
  &__stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: var(--spacing-small);
    text-align: center;
    background: var(--color-white);
    color: var(--color-text-on-white);
    border-radius: var(--border-radius);
    width: max-content;
    padding: 0 12px;
  }

  &__icon {
    width: 1.2em;
    height: 1.2em;
    opacity: var(--opacity-label);
    flex-shrink: 0;
    object-fit: contain;
    border-radius: 50%;
    filter: brightness(0) invert(1);
  }

  &__label {
    font-size: var(--font-size-small);
    opacity: var(--opacity-label);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
  }

  &__value {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
  }
  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: var(--spacing-small);
    text-align: center;
  }
}

