<section class="game">
  <header class="game__header">
    <app-score-board [playerName]="gameState().playerName" [points]="gameState().points"></app-score-board>

    <div>
      <span class="game__label" i18n="@@game.difficulty.label">Dificultad</span>
      <select class="game__select" [value]="gameState().difficulty.id" (change)="onDifficultyChange($event)">
        @for (difficulty of difficulties; track difficulty.id) {
        <option [value]="difficulty.id">{{ difficulty.label }}</option>
        }
      </select>
      <button type="button" class="game__play" (click)="onRestart()" i18n="@@game.play.button">
        Play & Restart
      </button>
    </div>
  </header>

  @if (isGameStarted()) {
  <app-game-board [holes]="holes" [onHit]="handleHit" [activeMoleIndexes]="activeMoleIndexes()"></app-game-board>
  }

  <div class="game__footer-bottom">
    <button type="button" class="game__exit" (click)="onChangePlayer()" i18n="@@game.exit.button">
      Salir
    </button>
  </div>
</section>